ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/CitaWS/CitaWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.OOIA.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CitaWS" targetNamespace="http://services.OOIA.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.157.187.65:8080/WebServicesOOIA/CitaWS?xsd=1" namespace="http://services.OOIA.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarCita">
    <part name="parameters" element="tns:insertarCita" />
  </message>
  <message name="insertarCitaResponse">
    <part name="parameters" element="tns:insertarCitaResponse" />
  </message>
  <message name="eliminarCita">
    <part name="parameters" element="tns:eliminarCita" />
  </message>
  <message name="eliminarCitaResponse">
    <part name="parameters" element="tns:eliminarCitaResponse" />
  </message>
  <message name="modificarCita">
    <part name="parameters" element="tns:modificarCita" />
  </message>
  <message name="modificarCitaResponse">
    <part name="parameters" element="tns:modificarCitaResponse" />
  </message>
  <message name="listarCitaHistorico">
    <part name="parameters" element="tns:listarCitaHistorico" />
  </message>
  <message name="listarCitaHistoricoResponse">
    <part name="parameters" element="tns:listarCitaHistoricoResponse" />
  </message>
  <message name="listarCitaPendiente">
    <part name="parameters" element="tns:listarCitaPendiente" />
  </message>
  <message name="listarCitaPendienteResponse">
    <part name="parameters" element="tns:listarCitaPendienteResponse" />
  </message>
  <portType name="CitaWS">
    <operation name="insertarCita">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/CitaWS/insertarCitaRequest" message="tns:insertarCita" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/CitaWS/insertarCitaResponse" message="tns:insertarCitaResponse" />
    </operation>
    <operation name="eliminarCita">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/CitaWS/eliminarCitaRequest" message="tns:eliminarCita" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/CitaWS/eliminarCitaResponse" message="tns:eliminarCitaResponse" />
    </operation>
    <operation name="modificarCita">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/CitaWS/modificarCitaRequest" message="tns:modificarCita" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/CitaWS/modificarCitaResponse" message="tns:modificarCitaResponse" />
    </operation>
    <operation name="listarCitaHistorico">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/CitaWS/listarCitaHistoricoRequest" message="tns:listarCitaHistorico" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/CitaWS/listarCitaHistoricoResponse" message="tns:listarCitaHistoricoResponse" />
    </operation>
    <operation name="listarCitaPendiente">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/CitaWS/listarCitaPendienteRequest" message="tns:listarCitaPendiente" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/CitaWS/listarCitaPendienteResponse" message="tns:listarCitaPendienteResponse" />
    </operation>
  </portType>
  <binding name="CitaWSPortBinding" type="tns:CitaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCitaHistorico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCitaPendiente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CitaWS">
    <port name="CitaWSPort" binding="tns:CitaWSPortBinding">
      <soap:address location="http://54.157.187.65:8080/WebServicesOOIA/CitaWS" />
    </port>
  </service>
</definitions>