ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/GenerarReporteAsesorWS/ReporteAsesorOpinionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services/" targetNamespace="http://services/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="generarReporteAsesor" type="tns:generarReporteAsesor" />
  <xs:element name="generarReporteAsesorResponse" type="tns:generarReporteAsesorResponse" />
  <xs:complexType name="generarReporteAsesor">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteAsesorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>