ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/CursoWS/CursoWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.OOIA.pucp.edu.pe/" targetNamespace="http://services.OOIA.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarCurso" type="tns:eliminarCurso" />
  <xs:element name="eliminarCursoResponse" type="tns:eliminarCursoResponse" />
  <xs:element name="insertarrCurso" type="tns:insertarrCurso" />
  <xs:element name="insertarrCursoResponse" type="tns:insertarrCursoResponse" />
  <xs:element name="listarCurso" type="tns:listarCurso" />
  <xs:element name="listarCursoResponse" type="tns:listarCursoResponse" />
  <xs:element name="modificarCurso" type="tns:modificarCurso" />
  <xs:element name="modificarCursoResponse" type="tns:modificarCursoResponse" />
  <xs:complexType name="modificarCurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="curso" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigoCurso" type="xs:string" />
      <xs:element name="creditos" type="xs:double" />
      <xs:element name="id_curso" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCurso" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCursoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCurso">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCursoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCurso">
    <xs:sequence>
      <xs:element name="id_curso" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCursoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarrCurso">
    <xs:sequence>
      <xs:element minOccurs="0" name="curso" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarrCursoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>