ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/CursoWS/CursoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.OOIA.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CursoWS" targetNamespace="http://services.OOIA.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebServicesOOIA/CursoWS?xsd=1" namespace="http://services.OOIA.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarCurso">
    <part name="parameters" element="tns:listarCurso" />
  </message>
  <message name="listarCursoResponse">
    <part name="parameters" element="tns:listarCursoResponse" />
  </message>
  <message name="insertarrCurso">
    <part name="parameters" element="tns:insertarrCurso" />
  </message>
  <message name="insertarrCursoResponse">
    <part name="parameters" element="tns:insertarrCursoResponse" />
  </message>
  <message name="eliminarCurso">
    <part name="parameters" element="tns:eliminarCurso" />
  </message>
  <message name="eliminarCursoResponse">
    <part name="parameters" element="tns:eliminarCursoResponse" />
  </message>
  <message name="modificarCurso">
    <part name="parameters" element="tns:modificarCurso" />
  </message>
  <message name="modificarCursoResponse">
    <part name="parameters" element="tns:modificarCursoResponse" />
  </message>
  <portType name="CursoWS">
    <operation name="listarCurso">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/CursoWS/listarCursoRequest" message="tns:listarCurso" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/CursoWS/listarCursoResponse" message="tns:listarCursoResponse" />
    </operation>
    <operation name="insertarrCurso">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/CursoWS/insertarrCursoRequest" message="tns:insertarrCurso" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/CursoWS/insertarrCursoResponse" message="tns:insertarrCursoResponse" />
    </operation>
    <operation name="eliminarCurso">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/CursoWS/eliminarCursoRequest" message="tns:eliminarCurso" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/CursoWS/eliminarCursoResponse" message="tns:eliminarCursoResponse" />
    </operation>
    <operation name="modificarCurso">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/CursoWS/modificarCursoRequest" message="tns:modificarCurso" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/CursoWS/modificarCursoResponse" message="tns:modificarCursoResponse" />
    </operation>
  </portType>
  <binding name="CursoWSPortBinding" type="tns:CursoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarrCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCurso">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CursoWS">
    <port name="CursoWSPort" binding="tns:CursoWSPortBinding">
      <soap:address location="http://localhost:8080/WebServicesOOIA/CursoWS" />
    </port>
  </service>
</definitions>