ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/ReporteEventoAlumnoWS/ReporteEventoAlumnoWS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services/" targetNamespace="http://services/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="generarReporteEvento" type="tns:generarReporteEvento" />
  <xs:element name="generarReporteEventoResponse" type="tns:generarReporteEventoResponse" />
  <xs:complexType name="generarReporteEvento">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteEventoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>