ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/CargarCSVpsicologosWS/PsicologosCSVcargaWS11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="PsicologosCSVcargaWS" targetNamespace="http://services/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.157.187.65:8080/AuxiliarWS/PsicologosCSVcargaWS?xsd=1" namespace="http://services/" />
    </xsd:schema>
  </types>
  <message name="CargarCSVpsicologos">
    <part name="parameters" element="tns:CargarCSVpsicologos" />
  </message>
  <message name="CargarCSVpsicologosResponse">
    <part name="parameters" element="tns:CargarCSVpsicologosResponse" />
  </message>
  <message name="FileNotFoundException">
    <part name="fault" element="tns:FileNotFoundException" />
  </message>
  <message name="ParseException">
    <part name="fault" element="tns:ParseException" />
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException" />
  </message>
  <portType name="PsicologosCSVcargaWS">
    <operation name="CargarCSVpsicologos">
      <input wsam:Action="http://services/PsicologosCSVcargaWS/CargarCSVpsicologosRequest" message="tns:CargarCSVpsicologos" />
      <output wsam:Action="http://services/PsicologosCSVcargaWS/CargarCSVpsicologosResponse" message="tns:CargarCSVpsicologosResponse" />
      <fault wsam:Action="http://services/PsicologosCSVcargaWS/CargarCSVpsicologos/Fault/FileNotFoundException" name="FileNotFoundException" message="tns:FileNotFoundException" />
      <fault wsam:Action="http://services/PsicologosCSVcargaWS/CargarCSVpsicologos/Fault/ParseException" name="ParseException" message="tns:ParseException" />
      <fault wsam:Action="http://services/PsicologosCSVcargaWS/CargarCSVpsicologos/Fault/IOException" name="IOException" message="tns:IOException" />
    </operation>
  </portType>
  <binding name="PsicologosCSVcargaWSPortBinding" type="tns:PsicologosCSVcargaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CargarCSVpsicologos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="FileNotFoundException">
        <soap:fault use="literal" name="FileNotFoundException" namespace="" />
      </fault>
      <fault name="ParseException">
        <soap:fault use="literal" name="ParseException" namespace="" />
      </fault>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="PsicologosCSVcargaWS">
    <port name="PsicologosCSVcargaWSPort" binding="tns:PsicologosCSVcargaWSPortBinding">
      <soap:address location="http://54.157.187.65:8080/AuxiliarWS/PsicologosCSVcargaWS" />
    </port>
  </service>
</definitions>