ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/CursoLlevadoWS/CursoLlevadoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.OOIA.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CursoLlevadoWS" targetNamespace="http://services.OOIA.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebServicesOOIA/CursoLlevadoWS?xsd=1" namespace="http://services.OOIA.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarCursoLlevado">
    <part name="parameters" element="tns:listarCursoLlevado" />
  </message>
  <message name="listarCursoLlevadoResponse">
    <part name="parameters" element="tns:listarCursoLlevadoResponse" />
  </message>
  <message name="insertarCursoLlevado">
    <part name="parameters" element="tns:insertarCursoLlevado" />
  </message>
  <message name="insertarCursoLlevadoResponse">
    <part name="parameters" element="tns:insertarCursoLlevadoResponse" />
  </message>
  <message name="modificarCursoLlevado">
    <part name="parameters" element="tns:modificarCursoLlevado" />
  </message>
  <message name="modificarCursoLlevadoResponse">
    <part name="parameters" element="tns:modificarCursoLlevadoResponse" />
  </message>
  <portType name="CursoLlevadoWS">
    <operation name="listarCursoLlevado">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/CursoLlevadoWS/listarCursoLlevadoRequest" message="tns:listarCursoLlevado" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/CursoLlevadoWS/listarCursoLlevadoResponse" message="tns:listarCursoLlevadoResponse" />
    </operation>
    <operation name="insertarCursoLlevado">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/CursoLlevadoWS/insertarCursoLlevadoRequest" message="tns:insertarCursoLlevado" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/CursoLlevadoWS/insertarCursoLlevadoResponse" message="tns:insertarCursoLlevadoResponse" />
    </operation>
    <operation name="modificarCursoLlevado">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/CursoLlevadoWS/modificarCursoLlevadoRequest" message="tns:modificarCursoLlevado" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/CursoLlevadoWS/modificarCursoLlevadoResponse" message="tns:modificarCursoLlevadoResponse" />
    </operation>
  </portType>
  <binding name="CursoLlevadoWSPortBinding" type="tns:CursoLlevadoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarCursoLlevado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCursoLlevado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCursoLlevado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CursoLlevadoWS">
    <port name="CursoLlevadoWSPort" binding="tns:CursoLlevadoWSPortBinding">
      <soap:address location="http://localhost:8080/WebServicesOOIA/CursoLlevadoWS" />
    </port>
  </service>
</definitions>