ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/AlumnosCSVcargaWS/AlumnosCSVcargaWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="AlumnosCSVcargaWS" targetNamespace="http://services/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.157.187.65:8080/AuxiliarWS/AlumnosCSVcargaWS?xsd=1" namespace="http://services/" />
    </xsd:schema>
  </types>
  <message name="CargarCSValumnos">
    <part name="parameters" element="tns:CargarCSValumnos" />
  </message>
  <message name="CargarCSValumnosResponse">
    <part name="parameters" element="tns:CargarCSValumnosResponse" />
  </message>
  <message name="FileNotFoundException">
    <part name="fault" element="tns:FileNotFoundException" />
  </message>
  <message name="ParseException">
    <part name="fault" element="tns:ParseException" />
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException" />
  </message>
  <portType name="AlumnosCSVcargaWS1">
    <operation name="CargarCSValumnos">
      <input wsam:Action="http://services/AlumnosCSVcargaWS1/CargarCSValumnosRequest" message="tns:CargarCSValumnos" />
      <output wsam:Action="http://services/AlumnosCSVcargaWS1/CargarCSValumnosResponse" message="tns:CargarCSValumnosResponse" />
      <fault wsam:Action="http://services/AlumnosCSVcargaWS1/CargarCSValumnos/Fault/FileNotFoundException" name="FileNotFoundException" message="tns:FileNotFoundException" />
      <fault wsam:Action="http://services/AlumnosCSVcargaWS1/CargarCSValumnos/Fault/ParseException" name="ParseException" message="tns:ParseException" />
      <fault wsam:Action="http://services/AlumnosCSVcargaWS1/CargarCSValumnos/Fault/IOException" name="IOException" message="tns:IOException" />
    </operation>
  </portType>
  <binding name="AlumnosCSVcargaWS1PortBinding" type="tns:AlumnosCSVcargaWS1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CargarCSValumnos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="FileNotFoundException">
        <soap:fault use="literal" name="FileNotFoundException" namespace="" />
      </fault>
      <fault name="ParseException">
        <soap:fault use="literal" name="ParseException" namespace="" />
      </fault>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="AlumnosCSVcargaWS">
    <port name="AlumnosCSVcargaWS1Port" binding="tns:AlumnosCSVcargaWS1PortBinding">
      <soap:address location="http://54.157.187.65:8080/AuxiliarWS/AlumnosCSVcargaWS" />
    </port>
  </service>
</definitions>