ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/PonenteWS/PonenteWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.OOIA.pucp.edu.pe/" targetNamespace="http://services.OOIA.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarPonente" type="tns:eliminarPonente" />
  <xs:element name="eliminarPonenteResponse" type="tns:eliminarPonenteResponse" />
  <xs:element name="insertarPonente" type="tns:insertarPonente" />
  <xs:element name="insertarPonenteResponse" type="tns:insertarPonenteResponse" />
  <xs:element name="listarPonente" type="tns:listarPonente" />
  <xs:element name="listarPonenteResponse" type="tns:listarPonenteResponse" />
  <xs:element name="modificarPonente" type="tns:modificarPonente" />
  <xs:element name="modificarPonenteResponse" type="tns:modificarPonenteResponse" />
  <xs:complexType name="eliminarPonente">
    <xs:sequence>
      <xs:element name="id_ponente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPonenteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPonente">
    <xs:sequence>
      <xs:element minOccurs="0" name="invitado" type="tns:ponente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ponente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:miembroExterno">
        <xs:sequence>
          <xs:element name="activo" type="xs:boolean" />
          <xs:element name="id_ponente" type="xs:int" />
          <xs:element minOccurs="0" name="organizacion" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="miembroExterno" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element name="id_miembro_externo" type="xs:int" />
          <xs:element minOccurs="0" name="ocupacion" type="xs:string" />
          <xs:element minOccurs="0" name="telefono" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_nacimiento" type="xs:dateTime" />
      <xs:element name="id_persona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPonenteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPonente">
    <xs:sequence>
      <xs:element minOccurs="0" name="invitado" type="tns:ponente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPonenteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPonente">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPonenteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:ponente" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>