ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/PsicologosCSVcargaWS/PsicologosCSVcargaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services/" targetNamespace="http://services/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CargarCSVprofesores" type="tns:CargarCSVprofesores" />
  <xs:element name="CargarCSVprofesoresResponse" type="tns:CargarCSVprofesoresResponse" />
  <xs:element name="CargarCSVpsicologos" nillable="true" type="tns:CargarCSVprofesores" />
  <xs:element name="CargarCSVpsicologosResponse" nillable="true" type="tns:CargarCSVprofesoresResponse" />
  <xs:element name="FileNotFoundException" type="tns:FileNotFoundException" />
  <xs:element name="IOException" type="tns:IOException" />
  <xs:element name="ParseException" type="tns:ParseException" />
  <xs:complexType name="CargarCSVprofesores">
    <xs:sequence>
      <xs:element minOccurs="0" name="RutaArchivo" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CargarCSVprofesoresResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FileNotFoundException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ParseException">
    <xs:sequence>
      <xs:element name="errorOffset" type="xs:int" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IOException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>