ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/AlumnoWS/AlumnoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.OOIA.pucp.edu.pe/" targetNamespace="http://services.OOIA.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarAlumno" type="tns:eliminarAlumno" />
  <xs:element name="eliminarAlumnoResponse" type="tns:eliminarAlumnoResponse" />
  <xs:element name="insertarAlumno" type="tns:insertarAlumno" />
  <xs:element name="insertarAlumnoResponse" type="tns:insertarAlumnoResponse" />
  <xs:element name="listarAlumno" type="tns:listarAlumno" />
  <xs:element name="listarAlumnoResponse" type="tns:listarAlumnoResponse" />
  <xs:element name="modificarAlumno" type="tns:modificarAlumno" />
  <xs:element name="modificarAlumnoResponse" type="tns:modificarAlumnoResponse" />
  <xs:complexType name="modificarAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="alumno" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alumno">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:miembroPUCP">
        <xs:sequence>
          <xs:element name="activo" type="xs:boolean" />
          <xs:element minOccurs="0" name="codigo" type="xs:string" />
          <xs:element name="craest" type="xs:double" />
          <xs:element name="creditos_aprobados" type="xs:double" />
          <xs:element minOccurs="0" name="especialidad" type="tns:especialidad" />
          <xs:element name="id_alumno" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="miembroPUCP" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="fecha_inclusion" type="xs:dateTime" />
          <xs:element name="id_miembro_pucp" type="xs:int" />
          <xs:element minOccurs="0" name="imagenDePerfil" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="usuario" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_nacimiento" type="xs:dateTime" />
      <xs:element name="id_persona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="especialidad">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="id_especialidad" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarAlumnoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAlumno">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAlumnoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAlumno">
    <xs:sequence>
      <xs:element name="id_alumno" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAlumnoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAlumno">
    <xs:sequence>
      <xs:element minOccurs="0" name="alumno" type="tns:alumno" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarAlumnoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>