ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/AlumnoWS/AlumnoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.OOIA.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="AlumnoWS" targetNamespace="http://services.OOIA.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/WebServicesOOIA/AlumnoWS?xsd=1" namespace="http://services.OOIA.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarAlumno">
    <part name="parameters" element="tns:listarAlumno" />
  </message>
  <message name="listarAlumnoResponse">
    <part name="parameters" element="tns:listarAlumnoResponse" />
  </message>
  <message name="insertarAlumno">
    <part name="parameters" element="tns:insertarAlumno" />
  </message>
  <message name="insertarAlumnoResponse">
    <part name="parameters" element="tns:insertarAlumnoResponse" />
  </message>
  <message name="eliminarAlumno">
    <part name="parameters" element="tns:eliminarAlumno" />
  </message>
  <message name="eliminarAlumnoResponse">
    <part name="parameters" element="tns:eliminarAlumnoResponse" />
  </message>
  <message name="modificarAlumno">
    <part name="parameters" element="tns:modificarAlumno" />
  </message>
  <message name="modificarAlumnoResponse">
    <part name="parameters" element="tns:modificarAlumnoResponse" />
  </message>
  <portType name="AlumnoWS">
    <operation name="listarAlumno">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/AlumnoWS/listarAlumnoRequest" message="tns:listarAlumno" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/AlumnoWS/listarAlumnoResponse" message="tns:listarAlumnoResponse" />
    </operation>
    <operation name="insertarAlumno">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/AlumnoWS/insertarAlumnoRequest" message="tns:insertarAlumno" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/AlumnoWS/insertarAlumnoResponse" message="tns:insertarAlumnoResponse" />
    </operation>
    <operation name="eliminarAlumno">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/AlumnoWS/eliminarAlumnoRequest" message="tns:eliminarAlumno" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/AlumnoWS/eliminarAlumnoResponse" message="tns:eliminarAlumnoResponse" />
    </operation>
    <operation name="modificarAlumno">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/AlumnoWS/modificarAlumnoRequest" message="tns:modificarAlumno" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/AlumnoWS/modificarAlumnoResponse" message="tns:modificarAlumnoResponse" />
    </operation>
  </portType>
  <binding name="AlumnoWSPortBinding" type="tns:AlumnoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarAlumno">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AlumnoWS">
    <port name="AlumnoWSPort" binding="tns:AlumnoWSPortBinding">
      <soap:address location="http://localhost:8080/WebServicesOOIA/AlumnoWS" />
    </port>
  </service>
</definitions>