ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/CargarCSVcursosLlevadosWS/CursosLlevadosCSVcargaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CursosLlevadosCSVcargaWS" targetNamespace="http://services/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/AuxiliarWS/CursosLlevadosCSVcargaWS?xsd=1" namespace="http://services/" />
    </xsd:schema>
  </types>
  <message name="CargarCSVcursosLlevados">
    <part name="parameters" element="tns:CargarCSVcursosLlevados" />
  </message>
  <message name="CargarCSVcursosLlevadosResponse">
    <part name="parameters" element="tns:CargarCSVcursosLlevadosResponse" />
  </message>
  <message name="FileNotFoundException">
    <part name="fault" element="tns:FileNotFoundException" />
  </message>
  <message name="ParseException">
    <part name="fault" element="tns:ParseException" />
  </message>
  <message name="IOException">
    <part name="fault" element="tns:IOException" />
  </message>
  <portType name="CursosLlevadosCSVcargaWS">
    <operation name="CargarCSVcursosLlevados">
      <input wsam:Action="http://services/CursosLlevadosCSVcargaWS/CargarCSVcursosLlevadosRequest" message="tns:CargarCSVcursosLlevados" />
      <output wsam:Action="http://services/CursosLlevadosCSVcargaWS/CargarCSVcursosLlevadosResponse" message="tns:CargarCSVcursosLlevadosResponse" />
      <fault wsam:Action="http://services/CursosLlevadosCSVcargaWS/CargarCSVcursosLlevados/Fault/FileNotFoundException" name="FileNotFoundException" message="tns:FileNotFoundException" />
      <fault wsam:Action="http://services/CursosLlevadosCSVcargaWS/CargarCSVcursosLlevados/Fault/ParseException" name="ParseException" message="tns:ParseException" />
      <fault wsam:Action="http://services/CursosLlevadosCSVcargaWS/CargarCSVcursosLlevados/Fault/IOException" name="IOException" message="tns:IOException" />
    </operation>
  </portType>
  <binding name="CursosLlevadosCSVcargaWSPortBinding" type="tns:CursosLlevadosCSVcargaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="CargarCSVcursosLlevados">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="FileNotFoundException">
        <soap:fault use="literal" name="FileNotFoundException" namespace="" />
      </fault>
      <fault name="ParseException">
        <soap:fault use="literal" name="ParseException" namespace="" />
      </fault>
      <fault name="IOException">
        <soap:fault use="literal" name="IOException" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="CursosLlevadosCSVcargaWS">
    <port name="CursosLlevadosCSVcargaWSPort" binding="tns:CursosLlevadosCSVcargaWSPortBinding">
      <soap:address location="http://localhost:8080/AuxiliarWS/CursosLlevadosCSVcargaWS" />
    </port>
  </service>
</definitions>