ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/CodigoAtencionWS/CodigoWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.OOIA.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CodigoWS" targetNamespace="http://services.OOIA.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.157.187.65:8080/WebServicesOOIA/CodigoWS?xsd=1" namespace="http://services.OOIA.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarCodigo">
    <part name="parameters" element="tns:listarCodigo" />
  </message>
  <message name="listarCodigoResponse">
    <part name="parameters" element="tns:listarCodigoResponse" />
  </message>
  <message name="modificarCodigo">
    <part name="parameters" element="tns:modificarCodigo" />
  </message>
  <message name="modificarCodigoResponse">
    <part name="parameters" element="tns:modificarCodigoResponse" />
  </message>
  <message name="insertarCodigo">
    <part name="parameters" element="tns:insertarCodigo" />
  </message>
  <message name="insertarCodigoResponse">
    <part name="parameters" element="tns:insertarCodigoResponse" />
  </message>
  <portType name="CodigoAtencionWS">
    <operation name="listarCodigo">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/CodigoAtencionWS/listarCodigoRequest" message="tns:listarCodigo" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/CodigoAtencionWS/listarCodigoResponse" message="tns:listarCodigoResponse" />
    </operation>
    <operation name="modificarCodigo">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/CodigoAtencionWS/modificarCodigoRequest" message="tns:modificarCodigo" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/CodigoAtencionWS/modificarCodigoResponse" message="tns:modificarCodigoResponse" />
    </operation>
    <operation name="insertarCodigo">
      <input wsam:Action="http://services.OOIA.pucp.edu.pe/CodigoAtencionWS/insertarCodigoRequest" message="tns:insertarCodigo" />
      <output wsam:Action="http://services.OOIA.pucp.edu.pe/CodigoAtencionWS/insertarCodigoResponse" message="tns:insertarCodigoResponse" />
    </operation>
  </portType>
  <binding name="CodigoAtencionWSPortBinding" type="tns:CodigoAtencionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarCodigo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCodigo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCodigo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CodigoWS">
    <port name="CodigoAtencionWSPort" binding="tns:CodigoAtencionWSPortBinding">
      <soap:address location="http://54.157.187.65:8080/WebServicesOOIA/CodigoWS" />
    </port>
  </service>
</definitions>