ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/CodigoAtencionWS/CodigoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.OOIA.pucp.edu.pe/" targetNamespace="http://services.OOIA.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarCodigo" type="tns:insertarCodigo" />
  <xs:element name="insertarCodigoResponse" type="tns:insertarCodigoResponse" />
  <xs:element name="listarCodigo" type="tns:listarCodigo" />
  <xs:element name="listarCodigoResponse" type="tns:listarCodigoResponse" />
  <xs:element name="modificarCodigo" type="tns:modificarCodigo" />
  <xs:element name="modificarCodigoResponse" type="tns:modificarCodigoResponse" />
  <xs:complexType name="insertarCodigo">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="tns:codigoAtencion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="codigoAtencion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id_codigo_atencion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCodigoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCodigo">
    <xs:sequence>
      <xs:element minOccurs="0" name="codigo" type="tns:codigoAtencion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCodigoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCodigo">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCodigoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:codigoAtencion" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>