ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/CoordinadorWS/CoordinadorWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.OOIA.pucp.edu.pe/" targetNamespace="http://services.OOIA.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarCoordinador" type="tns:eliminarCoordinador" />
  <xs:element name="eliminarCoordinadorResponse" type="tns:eliminarCoordinadorResponse" />
  <xs:element name="insertarCoordinador" type="tns:insertarCoordinador" />
  <xs:element name="insertarCoordinadorResponse" type="tns:insertarCoordinadorResponse" />
  <xs:element name="listarCoordinador" type="tns:listarCoordinador" />
  <xs:element name="listarCoordinadorResponse" type="tns:listarCoordinadorResponse" />
  <xs:element name="modificarCoordinador" type="tns:modificarCoordinador" />
  <xs:element name="modificarCoordinadorResponse" type="tns:modificarCoordinadorResponse" />
  <xs:complexType name="listarCoordinador">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarCoordinadorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:coordinador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="coordinador">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:miembroPUCP">
        <xs:sequence>
          <xs:element name="activo" type="xs:boolean" />
          <xs:element name="id_coordinador" type="xs:int" />
          <xs:element minOccurs="0" name="rol" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="miembroPUCP" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="fecha_inclusion" type="xs:dateTime" />
          <xs:element name="id_miembro_pucp" type="xs:int" />
          <xs:element minOccurs="0" name="imagenDePerfil" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="usuario" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_nacimiento" type="xs:dateTime" />
      <xs:element name="id_persona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCoordinador">
    <xs:sequence>
      <xs:element minOccurs="0" name="coordinador" type="tns:coordinador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCoordinadorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCoordinador">
    <xs:sequence>
      <xs:element minOccurs="0" name="coordinador" type="tns:coordinador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCoordinadorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCoordinador">
    <xs:sequence>
      <xs:element name="id_coordinador" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCoordinadorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>