ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/PsicologoWS/PsicologoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.OOIA.pucp.edu.pe/" targetNamespace="http://services.OOIA.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarPsicologo" type="tns:eliminarPsicologo" />
  <xs:element name="eliminarPsicologoResponse" type="tns:eliminarPsicologoResponse" />
  <xs:element name="insertarPsicologo" type="tns:insertarPsicologo" />
  <xs:element name="insertarPsicologoResponse" type="tns:insertarPsicologoResponse" />
  <xs:element name="listarPsicologo" type="tns:listarPsicologo" />
  <xs:element name="listarPsicologoResponse" type="tns:listarPsicologoResponse" />
  <xs:element name="modificarPsicologo" type="tns:modificarPsicologo" />
  <xs:element name="modificarPsicologoResponse" type="tns:modificarPsicologoResponse" />
  <xs:complexType name="listarPsicologo">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPsicologoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:psicologo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="psicologo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:miembroPUCP">
        <xs:sequence>
          <xs:element name="activo" type="xs:boolean" />
          <xs:element name="id_psicologo" type="xs:int" />
          <xs:element minOccurs="0" name="rama" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="miembroPUCP" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element minOccurs="0" name="fecha_inclusion" type="xs:dateTime" />
          <xs:element name="id_miembro_pucp" type="xs:int" />
          <xs:element minOccurs="0" name="imagenDePerfil" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="usuario" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="fecha_nacimiento" type="xs:dateTime" />
      <xs:element name="id_persona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPsicologo">
    <xs:sequence>
      <xs:element minOccurs="0" name="invitado" type="tns:psicologo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPsicologoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPsicologo">
    <xs:sequence>
      <xs:element name="id_psicologo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPsicologoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPsicologo">
    <xs:sequence>
      <xs:element minOccurs="0" name="invitado" type="tns:psicologo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPsicologoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>