ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/HorarioWS/HorarioWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.OOIA.pucp.edu.pe/" targetNamespace="http://services.OOIA.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarHorario" type="tns:eliminarHorario" />
  <xs:element name="eliminarHorarioResponse" type="tns:eliminarHorarioResponse" />
  <xs:element name="insertarHorario" type="tns:insertarHorario" />
  <xs:element name="insertarHorarioResponse" type="tns:insertarHorarioResponse" />
  <xs:element name="listarHorario" type="tns:listarHorario" />
  <xs:element name="listarHorarioResponse" type="tns:listarHorarioResponse" />
  <xs:element name="modificarHorario" type="tns:modificarHorario" />
  <xs:element name="modificarHorarioResponse" type="tns:modificarHorarioResponse" />
  <xs:complexType name="eliminarHorario">
    <xs:sequence>
      <xs:element minOccurs="0" name="horario" type="tns:horario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="horario">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="dia" type="xs:int" />
      <xs:element minOccurs="0" name="horaFin" type="tns:time" />
      <xs:element minOccurs="0" name="horaInicio" type="tns:time" />
      <xs:element name="id_horario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="time">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="eliminarHorarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarHorario">
    <xs:sequence>
      <xs:element minOccurs="0" name="horario" type="tns:horario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarHorarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarHorario">
    <xs:sequence>
      <xs:element minOccurs="0" name="horario" type="tns:horario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarHorarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarHorario">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarHorarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:horario" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>