ProyectosNET/ProyectoOOIA/ProyectoOOIA/Connected Services/GestionAtencionWS/GestionAtencionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="GestionAtencionWS" targetNamespace="http://services/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/AuxiliarWS/GestionAtencionWS?xsd=1" namespace="http://services/" />
    </xsd:schema>
  </types>
  <message name="insertarCita">
    <part name="parameters" element="tns:insertarCita" />
  </message>
  <message name="insertarCitaResponse">
    <part name="parameters" element="tns:insertarCitaResponse" />
  </message>
  <message name="modificarCita">
    <part name="parameters" element="tns:modificarCita" />
  </message>
  <message name="modificarCitaResponse">
    <part name="parameters" element="tns:modificarCitaResponse" />
  </message>
  <message name="eliminarCita">
    <part name="parameters" element="tns:eliminarCita" />
  </message>
  <message name="eliminarCitaResponse">
    <part name="parameters" element="tns:eliminarCitaResponse" />
  </message>
  <message name="modificarHorario">
    <part name="parameters" element="tns:modificarHorario" />
  </message>
  <message name="modificarHorarioResponse">
    <part name="parameters" element="tns:modificarHorarioResponse" />
  </message>
  <message name="listarCodigo">
    <part name="parameters" element="tns:listarCodigo" />
  </message>
  <message name="listarCodigoResponse">
    <part name="parameters" element="tns:listarCodigoResponse" />
  </message>
  <message name="insertarHorario">
    <part name="parameters" element="tns:insertarHorario" />
  </message>
  <message name="insertarHorarioResponse">
    <part name="parameters" element="tns:insertarHorarioResponse" />
  </message>
  <message name="insertarCodigo">
    <part name="parameters" element="tns:insertarCodigo" />
  </message>
  <message name="insertarCodigoResponse">
    <part name="parameters" element="tns:insertarCodigoResponse" />
  </message>
  <message name="listarHorario">
    <part name="parameters" element="tns:listarHorario" />
  </message>
  <message name="listarHorarioResponse">
    <part name="parameters" element="tns:listarHorarioResponse" />
  </message>
  <message name="eliminarHorario">
    <part name="parameters" element="tns:eliminarHorario" />
  </message>
  <message name="eliminarHorarioResponse">
    <part name="parameters" element="tns:eliminarHorarioResponse" />
  </message>
  <message name="modificarCodigo">
    <part name="parameters" element="tns:modificarCodigo" />
  </message>
  <message name="modificarCodigoResponse">
    <part name="parameters" element="tns:modificarCodigoResponse" />
  </message>
  <message name="listarCitaHistorico">
    <part name="parameters" element="tns:listarCitaHistorico" />
  </message>
  <message name="listarCitaHistoricoResponse">
    <part name="parameters" element="tns:listarCitaHistoricoResponse" />
  </message>
  <message name="listarCitaPendiente">
    <part name="parameters" element="tns:listarCitaPendiente" />
  </message>
  <message name="listarCitaPendienteResponse">
    <part name="parameters" element="tns:listarCitaPendienteResponse" />
  </message>
  <portType name="GestionAtencionWS">
    <operation name="insertarCita">
      <input wsam:Action="http://services/GestionAtencionWS/insertarCitaRequest" message="tns:insertarCita" />
      <output wsam:Action="http://services/GestionAtencionWS/insertarCitaResponse" message="tns:insertarCitaResponse" />
    </operation>
    <operation name="modificarCita">
      <input wsam:Action="http://services/GestionAtencionWS/modificarCitaRequest" message="tns:modificarCita" />
      <output wsam:Action="http://services/GestionAtencionWS/modificarCitaResponse" message="tns:modificarCitaResponse" />
    </operation>
    <operation name="eliminarCita">
      <input wsam:Action="http://services/GestionAtencionWS/eliminarCitaRequest" message="tns:eliminarCita" />
      <output wsam:Action="http://services/GestionAtencionWS/eliminarCitaResponse" message="tns:eliminarCitaResponse" />
    </operation>
    <operation name="modificarHorario">
      <input wsam:Action="http://services/GestionAtencionWS/modificarHorarioRequest" message="tns:modificarHorario" />
      <output wsam:Action="http://services/GestionAtencionWS/modificarHorarioResponse" message="tns:modificarHorarioResponse" />
    </operation>
    <operation name="listarCodigo">
      <input wsam:Action="http://services/GestionAtencionWS/listarCodigoRequest" message="tns:listarCodigo" />
      <output wsam:Action="http://services/GestionAtencionWS/listarCodigoResponse" message="tns:listarCodigoResponse" />
    </operation>
    <operation name="insertarHorario">
      <input wsam:Action="http://services/GestionAtencionWS/insertarHorarioRequest" message="tns:insertarHorario" />
      <output wsam:Action="http://services/GestionAtencionWS/insertarHorarioResponse" message="tns:insertarHorarioResponse" />
    </operation>
    <operation name="insertarCodigo">
      <input wsam:Action="http://services/GestionAtencionWS/insertarCodigoRequest" message="tns:insertarCodigo" />
      <output wsam:Action="http://services/GestionAtencionWS/insertarCodigoResponse" message="tns:insertarCodigoResponse" />
    </operation>
    <operation name="listarHorario">
      <input wsam:Action="http://services/GestionAtencionWS/listarHorarioRequest" message="tns:listarHorario" />
      <output wsam:Action="http://services/GestionAtencionWS/listarHorarioResponse" message="tns:listarHorarioResponse" />
    </operation>
    <operation name="eliminarHorario">
      <input wsam:Action="http://services/GestionAtencionWS/eliminarHorarioRequest" message="tns:eliminarHorario" />
      <output wsam:Action="http://services/GestionAtencionWS/eliminarHorarioResponse" message="tns:eliminarHorarioResponse" />
    </operation>
    <operation name="modificarCodigo">
      <input wsam:Action="http://services/GestionAtencionWS/modificarCodigoRequest" message="tns:modificarCodigo" />
      <output wsam:Action="http://services/GestionAtencionWS/modificarCodigoResponse" message="tns:modificarCodigoResponse" />
    </operation>
    <operation name="listarCitaHistorico">
      <input wsam:Action="http://services/GestionAtencionWS/listarCitaHistoricoRequest" message="tns:listarCitaHistorico" />
      <output wsam:Action="http://services/GestionAtencionWS/listarCitaHistoricoResponse" message="tns:listarCitaHistoricoResponse" />
    </operation>
    <operation name="listarCitaPendiente">
      <input wsam:Action="http://services/GestionAtencionWS/listarCitaPendienteRequest" message="tns:listarCitaPendiente" />
      <output wsam:Action="http://services/GestionAtencionWS/listarCitaPendienteResponse" message="tns:listarCitaPendienteResponse" />
    </operation>
  </portType>
  <binding name="GestionAtencionWSPortBinding" type="tns:GestionAtencionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCita">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarHorario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCodigo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarHorario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCodigo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarHorario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarHorario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCodigo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCitaHistorico">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCitaPendiente">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="GestionAtencionWS">
    <port name="GestionAtencionWSPort" binding="tns:GestionAtencionWSPortBinding">
      <soap:address location="http://localhost:8080/AuxiliarWS/GestionAtencionWS" />
    </port>
  </service>
</definitions>